{include file="public/nav.html"}

<style>
#showindex table {
	word-wrap: break-word;
	table-layout: fixed;
}
.form-group {
	margin-bottom: 0px;
}
label {
	margin-bottom: 0px;
}
.navbar-default {
	border: 0
}
.w50 {
	width:50px;
}
.w80 {
	width:80px;
}
</style>

	<div class="col-sm-9 col-md-10 main">
<!-- 		<h3 class="page-header" style="margin-top:1px;">查询代码</h3> -->
		<form id="js_form" action="{$action}" method="post"  enctype="multipart/form-data" class="form-horizontal" role="form">
<!-- 			<div class="form-group">
				<label class="col-sm-2 control-label"> 查询类型<br>Q:  Simple_cypher<br>D:  D3.js_demo</label>
				<div class="col-sm-4">
					<input type="text" name="title" class="form-control" placeholder="查询名称" value="{$info['title']}">
				</div>
			</div> -->
<!-- 			<div class="form-group">
				<label class="col-sm-2 control-label"> 推荐投资(Y/N)</label>
				<div class="col-sm-4">
					<input type="text" name="title0" class="form-control" placeholder="Y" value="{$info['title0']}">
				</div>
			</div> -->
			<div class="form-group">
				<label class="col-sm-2 control-label" style="font-size:40px;float:left;width:80%""> 达尔文用户推荐关系查询系统 (每日定时更新) </label>
			</div>
<!-- 			<div class="form-group">
				<label class="col-sm-2 control-label"> ID  </label>
				<div class="col-sm-4">
					<input type="text" name="input_id" class="form-control" placeholder="主参数" value="{$info['input_id']}">
				</div>	
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label"> 终点ID (正整数：非必填) </label>
				<div class="col-sm-4">
					<input type="text" name="title2" class="form-control" placeholder="" value="{$info['title2']}">
				</div>
			</div>
			
			<div class="form-group">
				<label class="col-sm-2 control-label"> 用户名  </label>
				<div class="col-sm-4">
					<input type="text" name="input_name" class="form-control" placeholder="" value="{$info['input_name']}">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label"> 手机号  </label>
				<div class="col-sm-4">
					<input type="text" name="input_mobile" class="form-control" placeholder="" value="{$info['input_mobile']}">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label"> 邀请码  </label>
				<div class="col-sm-4">
					<input type="text" name="input_alias" class="form-control" placeholder="" value="{$info['input_alias']}">
				</div>
			</div> -->
			
			<div class="form-group">
				<select name="input_type" class="col-sm-2 control-label">
    				<option value="ID">ID</option>
    				<option value="NAME">用户名</option>
    				<option value="ALIAS">邀请码</option>
    				<option value="MOBILE">手机号</option>
				</select>
				<div class="col-sm-4">
				<input class="form-control" type="text" name="input_value">
				</div>
			</div>
			<!-- 
			<div class="col-sm-4">
				<input class="form-control" type="text" name="input_value">
			</div>
		 -->
		
			<div class="form-group">
				<label class="col-sm-2 control-label"> 最小推荐层深</label>
				<div class="col-sm-4">
					<input type="text" name="title3" class="form-control" placeholder="" value="{$info['title3']}">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label"> 最大推荐层深</label>
				<div class="col-sm-4">
					<input type="text" name="title4" class="form-control" placeholder="" value="{$info['title4']}">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label"> 节点半径</label>
				<div class="col-sm-4">
					<input type="text" name="title5" class="form-control" placeholder="10" value="{$info['title5']}">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label"> 关系长度</label>
				<div class="col-sm-4">
					<input type="text" name="title6" class="form-control" placeholder="100" value="{$info['title6']}">
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-offset-1 col-sm-10" style="text-align: right;">
					<input type="hidden" name="id" value="{$info['id']}">
					<input type="hidden" name="status" value="{if ($info['status'])}{$info['status']}{else}2{/if} ?>">
					<input type="hidden" name="is_export" value="0">
					<button type="submit" id="js_sub" class="btn btn-success" data-toggle="popover" title="提示" data-content="">执行</button>
				</div>
			</div>
		</form>

		<hr></hr>
		<div class="alert alert-success js_script" style="display: none;"></div>
		<div class="report_table"></div>
		
		<div>
			<div style="float:left;width:120%">
				<h2 style="text-align:center">推荐投资</h2>
				
				
				<div class="outer">
<div id="js_d3_inv"></div>
</div>
								
<!-- 				<div id="js_d3_inv"></div> -->
			</div>
 			<div style="float:left;width:120%">			
				<label id='test_inv'></label>
			</div> 
			<div style="float:left;width:120%">
				<h2 style="text-align:center">推荐注册</h2>				
				<div id="js_d3_reg"></div>
			</div>
			<div style="float:left;width:120%">			
				<label id='test_reg'></label>
			</div>
			<div style="float:left;width:120%">
                                <div id='table_reg'></div>
                        </div> 
			
<!-- 			<div style="float:left;width:120%">
				<h1>--------------</h1>
				<h2 style="text-align:center">{$count}</h2>				
				<div id="js_d3_reg"></div>
			</div> -->
			
		</div>
	</div>
	
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.min.js"></script>

<script type="text/javascript">

var test_nodes;
$(function(){


//执行
$("#js_form").submit(function(e){
	e.preventDefault();
	var obj = $("#js_form");

	$("#js_sub").button('loading');

	var url = obj.attr('action');
	var data = obj.serialize();
	$.ajax({
		url: url,
		type: 'POST',
		dataType: 'json',
		data: data,
		timeout: 1000000000,
		success: function (json) {
			$("#js_sub").button('reset');
			if (!!json.data.script) {
				$("textarea[name=script]").val(json.data.script);
				$(".js_script").val(json.data.script);
			}
			if (!json.info) {
				$(".report_table").html(json);
				return false;
			}
/* 			else if(json.info == ''){
				
			} */
			
			
			else if (json.info != 'ok') {
				$("#js_sub").attr('data-content', json.data).popover('show');
				return false;
			} else {
				$("input[name=id]").val(json.data.id);
				$(".report_table").html(json.data.html);
			}
/* 		    console.log(json.data);
		    console.log(json.data.links);
		    
		    // OPTION: 
		    var inv = $("input[name=title0]").val() */
/* 		    if(inv == 'Y')
		    {
		    	d3_show('js_d3', json.data.invest.nodes, json.data.invest.links);
		    }
		    else
		    {
		    	d3_show('js_d3',json.data.register.nodes, json.data.register.links);
		    } */
		    d3_show('js_d3_inv', json.data.invest.nodes, json.data.invest.links);
	    	d3_show('js_d3_reg',json.data.register.nodes, json.data.register.links);
	    	test_show('test_inv', json.data.invest.info);
	    	test_show('test_reg', json.data.register.info);
		table_show('table_reg', json.data.register.table);
//			
			test_nodes = json.data.invest.nodes;
			
			return false;
		},
		error:function(e, textStatus, errorThrown){
			$("#js_sub").button('reset');
			if (textStatus == "error") {
				$(".report_table").html('<h2>出错了</h2>');
			}else if (textStatus == "timeout") {
            	$(".report_table").html('<h2>请求超时，可能是你查询代码执行时间太长了，请精减。</h2>');
            } else {
				var msg = e.responseText.replace(/<[^>]+>.*?<\/a>/g,"");
				$(".report_table").html('<h2>'+msg+'</h2>');
            }
		}
	});

	return false;
});
	
	

// 执行并下载
$("#js_save").click(function(){
	var obj = $(this);
	$("input[name=is_export]").val(1);
	$("#js_form").submit();
	return true;
});

$("#table_name_select").bind("change", function(){
    $("#table_desc").attr("href","/tool/simpleblockdesc?db="+$("#table_name_select").val());
});

});



function get_table_html(list){
	var html = '';

}

function test_show(id, info)
{
	//alert(info.info);
	var test_inv = document.getElementById(id);
	test_inv.innerHTML=info.info;
}


function table_show(id, info)
{
        //alert(info.info);
        var test_inv = document.getElementById(id);
        test_inv.innerHTML=info;
}

function d3_show(id,nodes,edges){

var width = 1200;
var height = 1200;	


var radius=$("input[name=title5]").val();
if (!radius) {
	radius = 10;
}
var charge=-$("input[name=title6]").val();
if (!charge) {
	charge = -100;
}

console.log(edges);

if(id == 'js_d3_inv'){
	$('#js_d3_inv').html('');
}
if(id == 'js_d3_reg'){
	$('#js_d3_reg').html('');
}
/* $('#js_d3_1').html('');
$('#js_d3_1').html(''); */
var svg = d3.select("#"+id).append("svg")
						.attr("width",width)
						.attr("height",height);

var force = d3.layout.force()
					.nodes(nodes)
					.links(edges)
					.size([width,height])
					.linkDistance(30)
					.charge([charge])
					.start();
					
var svg_edges = svg.selectAll("line")
					.data(edges)
					.enter()
					.append("line")
					.style("stroke","#ccc")
					.style("stroke-width",1)
					.style("marker-end", "url(#suit)");

var color = d3.scale.category20();
					
var svg_nodes = svg.selectAll("circle")
					.data(nodes)
					.enter()
					.append("circle")
					.attr("r",radius)
					.style("fill",function(d,i){
						return color(d.group);
					})
					.call(force.drag);
//					.on('dblclick', connectedNodes); //Added code;


svg_nodes.append("title").text(function(d) { 
	return "id: " + d.id + " / " 
	+ " name: " + d.name + " / " 
	+ "group: " + d.group; });	


// JS FEATURES:
	
// FEATURE 1: link direction
svg.append("defs").selectAll("marker")
.data(["suit", "licensing", "resolved"])
.enter().append("marker")
.attr("id", function(d) { return d; })
.attr("viewBox", "0 -5 10 10")
.attr("refX", 25)
.attr("refY", 0)
.attr("markerWidth", 6)
.attr("markerHeight", 6)
.attr("orient", "auto")
.append("path")
.attr("d", "M0,-5L10,0L0,5 L10,0 L0, -5")
.style("stroke", "#4679BD")
.style("opacity", "0.6");



// LABEL (NOT WORKING)
/* svg_nodes.append("text")
.attr("dx", 10)
.attr("dy", ".35em")
.text(function(d) { return d.name })
.style("stroke", "gray"); */



force.on("tick", function(){

	 svg_edges.attr("x1",function(d){ return d.source.x; });
	 svg_edges.attr("y1",function(d){ return d.source.y; });
	 svg_edges.attr("x2",function(d){ return d.target.x; });
	 svg_edges.attr("y2",function(d){ return d.target.y; });
	 
	 svg_nodes.attr("cx",function(d){ return d.x; });
	 svg_nodes.attr("cy",function(d){ return d.y; });
	 
	 
//	 node.each(collide(0.00005)); //Added 
	 
});

}

/* // FEATURE 2: collision detection
var padding = 1, // separation between circles
radius=8;
function collide(alpha) {
var quadtree = d3.geom.quadtree(nodes);
return function(d) {
var rb = 2*radius + padding,
    nx1 = d.x - rb,
    nx2 = d.x + rb,
    ny1 = d.y - rb,
    ny2 = d.y + rb;
quadtree.visit(function(quad, x1, y1, x2, y2) {
  if (quad.point && (quad.point !== d)) {
    var x = d.x - quad.point.x,
        y = d.y - quad.point.y,
        l = Math.sqrt(x * x + y * y);
      if (l < rb) {
      l = (l - rb) / l * alpha;
      d.x -= x *= l;
      d.y -= y *= l;
      quad.point.x += x;
      quad.point.y += y;
    }
  }
  return x1 > nx2 || x2 < nx1 || y1 > ny2 || y2 < ny1;
});
};
}

//FEATURE 3: highlighting !!!!!!!!!!!!!!

//Toggle stores whether the highlighting is on
var toggle = 0;

//Create an array logging what is connected to what
var linkedByIndex = {};
for (i = 0; i < test_nodes.length; i++) {
	alert(1)
    linkedByIndex[i + "," + i] = 1;
};
json.data.invest.links.forEach(function (d) {
    linkedByIndex[d.source.index + "," + d.target.index] = 1;
});

//This function looks up whether a pair are neighbours  
function neighboring(a, b) {
    return linkedByIndex[a.index + "," + b.index];
} */

function connectedNodes() {

    if (toggle == 0) {
    	
    	alert(0);
    	alert(test_nodes.length);
        //Reduce the opacity of all but the neighbouring nodes
        d = d3.select(this).node().__data__;
        alert(d);
        test_nodes.style("opacity", function (o) {
        	
  //      	alert(test_nodes);
        	
            return neighboring(d, o) | neighboring(o, d) ? 1 : 0.1;
        });
        
        svg_links.style("opacity", function (o) {
            return d.index==o.source.index | d.index==o.target.index ? 1 : 0.1;
        });
        
        //Reduce the op
        
        toggle = 1;
    } else {
    	alert(1);
    	
        //Put them back to opacity=1
        svg_nodes.style("opacity", 1);
        svg_links.style("opacity", 1);
        toggle = 0;
    }

}












/* d3.selectAll("circle").attr("cx", function (d) {
    return d.x;
})
    .attr("cy", function (d) {
    return d.y;
});

d3.selectAll("text").attr("x", function (d) {
    return d.x;
})
    .attr("y", function (d) {
    return d.y;
}); */

//End Changed






</script>

{include file="public/footer_nojs.html"}
